/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: normal;
}

body,
html {
  height: 100%;
  font-family: $font-family;
  font-weight: normal;
  font-size: 25px;
}

body {
  margin: 0;
  // background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  background-repeat: no-repeat;
}
