<url-shortener-navbar></url-shortener-navbar>
<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="promo">
          <h1>Simple URL Shortener</h1>
          <p class="description">The best URL shortener that you will ever find on the internet. Simple and easy to use and the best part is it's all open-source.</p>
        </div>
        <form #urlShortForm="ngForm" (ngSubmit)="urlShortForm.form.valid && onSubmit()" autocomplete="off" novalidate>
          <div class="main-form">
            <div class="row">
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="url" class="form-control main-input" pattern="https?://.+" name="url" value="" placeholder="Paste a long url"
                    autocomplete="off" [(ngModel)]="originalUrl" #originalUrlText="ngModel" required>
                </div>
                <div *ngIf="urlShortForm.submitted && originalUrlText.invalid" class="invalid-url">
                  <div *ngIf="originalUrlText.errors.required">Url is required</div>
                  <div *ngIf="originalUrlText.errors.pattern">Url Must be a valid site URL</div>
                </div>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-primary btn-block main-button" type="submit">Shorten</button>
              </div>
            </div>
          </div>
        </form>
        <div class="shorten-url" *ngIf="shortUrl">
          <h2>Short URL</h2>
          <a href="/api/{{shortUrl}}" target="_blank">localhost/api/{{shortUrl}}</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <h1>Top 10 urls</h1>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">URL</th>
                <th scope="col">Hits</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let urlData of topTenUrls">
                <th scope="row">{{urlData.url}}</th>
                <td>{{urlData.hits}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
